nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: gold;
}
nav img{
    width: 150px;
    
    
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    }
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li:after{
    content: '';
    width: 0%;
    height: 2PX;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    
    
}
.bleue{
    background-color: blue;
    width: 15px;
    height: 15px;
    padding: 12px 23px;
}
.vert{
    background-color: green;
    width: 15px;
    height: 15px;
    padding: 12px 23px;
}

nav .fa{
    display: none;
}
.p input{
    width: 50%;
    height: 100%;
    cursor: pointer;
    padding: 15PX;
    background: #f44336;
    
}
.face{
    width: 300px;
    height: 300px;
    justify-content: space-around;
}
.tw{
    background-color: purple;
    padding: 10px;
    
}
.cent{
    text-align: right;
}
.cen{
    text-align: center;
}
@media (max-width: 300px) {
    .bleue{
        background-color: blue;
        width: 15px;
        height: 15px;
        padding: 2px;
    }
    .vert{
        background-color: green;
        width: 100%;
        height: 15px;
        padding: 2px;
    }
    nav{
        width: 100%;
        
    }
}