nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}
nav img{
    width: 150px;
    
    
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    }
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li:after{
    content: '';
    width: 0%;
    height: 2PX;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    
    
}

nav .fa{
    display: none;
}
.header{
    display: flex;
    
}
.re{
    width: 200px;
    height: 200px;
    padding-left: 0px;
    margin: 5px;
}
.B{
    text-align: center;
    font-size: x-large;
}
.ville{
    
    text-align: center;
}
.burkina{
    display: flex;
}
.n{
    text-align: center;
    padding-left: 400px;
}
.km{
    padding-left: 400px;
}
.cv{
    display: flex;
    justify-content: space-around;
    
}
.a{
    width: 300px;
    height: 300px;
    justify-content: space-around;
    
}
.y{
    font-size: x-large;
    width: 350px;
    height: 50px;
}
.f{
    
    text-align: center;
    background-color: black;
    padding: 5px;
}
.blan{
    color: aliceblue;
}
.dis{
    text-align: center;
    color: #f44336;
}