nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
}
nav img{
    width: 150px;
    
    
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    }
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li:after{
    content: '';
    width: 0%;
    height: 2PX;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    
    
}

nav .fa{
    display: none;
}
.row{
    display: flex;
}
.lou{
    width: 150px;
}
.aprenant{
    display: flex;
    width: 10px;
    
    
    
}
.img1{
    width: 500px;
    height: 500px;
    text-align: center;
    justify-content: center;
    margin-left: 5px;
    justify-content: space-around;
}
*{
    margin: 0;
    padding: 0;
}
.text{
    text-align: center;
    font-size: xx-large;
}
.btn{
    text-align: center;
    border-radius: 2px solid;
    
}
.p{
    text-align: center;
    font-size: x-large;
}
.f{
    text-align: center;
    /* background-color: black; */
    padding: 30px;
    background-color: aliceblue;
}

.ph{
    font-size: x-large;
}
.a{
    width: 300px;
    height: 300px;
    justify-content: space-around;
}
.b{
    width: 250px;
    height: 250px;
}
.r{
    width: 1300px;
    height: 700px;
    justify-content: space-around;
    color: cadetblue;
}
.mn{
    width: 300px;
    height: 300px;
    margin-right: 800px;
}
.oo{
    background-color: black;
    padding: 3px;
}
.blan{
    /* color: black; */
}